{
  "root": true,
  "rules": {
    "no-underscore-dangle": [
      "error", {
        "allow": [ "_id" ]
      }
    ],
    "no-const-assign": [
      "error"
    ],
    "consistent-return": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "extends": "airbnb-base"
}